.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header__logo {
    width: 60px;
}

.header__logo img {
    width: 100%;
}

.header__menu-mobile {
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: none;
}

.header__menu-mobile svg{
    width: 60px;
    height: 60px;
    color: var(--color-primary);
}

.header__menu-mobile-close {
    display: none;
}

.header__menu-links {
    display: none;
    flex-direction: column;
    position: absolute;
    left: 0;
    width: 100%;
    margin-top: 10px;
    background-color: var(--color-light);
}

nav .header__menu-links-link {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-dark);
}

nav .active a,
nav a:hover {
    background-color: var(--color-primary);
    color: var(--color-light);
}

@media (min-width: 500px) {
    .header__logo {
        width: auto;
    } 
}