.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header__logo {
    width: 60px;
}

.header__logo img {
    width: 100%;
}

.header__menu-mobile {
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: none;
}

.header__menu-mobile svg{
    width: 60px;
    height: 60px;
    color: var(--color-primary);
}

.header__menu-mobile-close {
    display: none;
}

.header__menu-links {
    display: none;
    flex-direction: column;
    position: absolute;
    left: 0;
    width: 100%;
    margin-top: 10px;
    background-color: var(--color-light);
}

nav .header__menu-links-link {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-dark);
}

nav .active a,
nav a:hover {
    background-color: var(--color-primary);
    color: var(--color-light);
}

@media (min-width: 500px) {
    .header {
        padding: 10px 40px;
    }
    .header__logo {
        width: auto;
    } 

    nav .header__menu-links-link {
        padding: 15px 40px;
    }
}

@media (min-width: 1024px) {
    .header__logo {
        width: 175px;
    } 

    .header__menu-mobile {
        display: none;
    }

    .header__menu-links {
        display: flex;
        flex-direction: row;
        position: initial;
        list-style: none;
        left: initial;
        width: auto;
        margin-top: 0;
        background-color: transparent;
    }
    nav .header__menu-links-link {
        padding: 13px 10px;
    }

}

@media (min-width: 1440px) {
    .header {
        padding: 20px 60px;
    }

    .header__logo {
        width: 230px;
    }

    nav .header__menu-links-link {
        font-size: 16.25px;
        padding: 20px 25px;
    }
}