@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600&display=swap');
@import url('header.css');
@import url('banner.css');
@import url('content.css');

:root {
    --color-primary: #42B3E5;
    --color-secundary: #0079C7;
    --color-thirdiary: #2B4C99;
    --color-dark: #000000;
    --color-light: #FFFFFF;
}

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
